header {
    box-sizing: border-box;
    position: absolute;
    z-index: 12;
    background-color: #dededea0;
    top: 0;
    width: 100%;
    padding: 0 30px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.header-item {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;align-items: center;
}
.header-item:hover {
    color: var(--color-light)
}