nav {
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: #fff;
    padding: 30px;
    padding-top: 80px;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
nav li {
    cursor: pointer;
}
nav li:hover {
    color: var(--color-light);
}
nav li span {
    display: block;
    font-size: .8rem;
    color: darkgray;
}
.menu {
    transform: translate(-100%, 0);
    transition: transform 300ms linear;
}
.menu.active {
    transform: translate(0, 0);
}

