nav {
    position: absolute;
    z-index: 10;
    left: 0;
    background-color: #fff;
    padding: 30px;
    padding-top: 80px;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    align-content: space-between;
    background-image: url("./logo.svg");
    background-size: 94px;
    background-position: center calc(100% - 50px);
    background-repeat: no-repeat;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
nav li {
    cursor: pointer;
}
nav li:hover {
    color: var(--color-light);
}
nav li span {
    display: block;
    font-size: .8rem;
    color: darkgray;
}
.menu {
    transform: translate(-100%, 0);
    transition: transform 300ms linear;
}
.menu.active {
    transform: translate(0, 0);
}
.nav-logo {
    font-size: 16px;
    text-align: center;
    color: var(--color-light)
}

