.table {
    display: grid;
    padding: 20px 0 0;
    grid-template-columns: 1fr auto auto 1fr auto;
    gap: 10px;
}
.table__title {
    background-color: var(--color-light);
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
.table h3 {
    margin: 0;
    margin-top: 20px;
    color: var(--color-light);
    grid-column-end: span 5;
}
.table>div {
    border-bottom: 1px solid var(--color-light);
    display: flex;
    align-items: center;
}
